# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.sqlite3
pip-log.txt

# Django
db.sqlite3
/media/
staticfiles/
*.log

# Virtualenv
.venv/
.env
.env/
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.iml

# System / OS
.DS_Store
Thumbs.db
