{% extends 'configuracoes/auth_base.html' %}
{% block auth_title %}Confira seu e-mail{% endblock %}
{% block auth_text %}Se o e-mail informado estiver vinculado a um usuario ativo, o link de redefinicao foi preparado com sucesso.{% endblock %}
{% block auth_content %}
  <div class="ce-login-form">
    <div class="ce-login-links">
      <a href="{% url 'configuracoes:login' %}">Voltar ao login</a>
      <a href="{% url 'configuracoes:site-config' %}">Voltar ao site</a>
    </div>
  </div>
{% endblock %}
