{% extends 'configuracoes/auth_base.html' %}
{% block auth_title %}Confira seu e-mail{% endblock %}
{% block auth_text %}Se o e-mail informado puder usar recuperacao de senha, as instrucoes foram preparadas para o proximo passo. Em ambiente local, esse conteudo pode aparecer no console do servidor.{% endblock %}
{% block auth_content %}
  <div class="ce-login-form">
    <div class="ce-login-links">
      <a href="{% url 'configuracoes:login' %}">Voltar ao login</a>
      <a href="{% url 'configuracoes:site-config' %}">Voltar ao site</a>
    </div>
  </div>
{% endblock %}
