{% extends 'financeiro/base.html' %}
{% load financeiro_permissoes %}
{% block title %}Assinaturas Institucionais{% endblock %}
{% block content %}
{% tem_permissao request.user 'financeiro.assinaturas.criar' as pode_criar_assinatura %}
{% tem_permissao request.user 'financeiro.assinaturas.editar' as pode_editar_assinatura %}
{% tem_permissao request.user 'financeiro.assinaturas.excluir' as pode_excluir_assinatura %}
{% tem_alguma_permissao request.user 'financeiro.assinaturas.editar' 'financeiro.assinaturas.excluir' as mostrar_acoes_assinatura %}
<div class="level">
    <div class="level-left">
        <h1 class="title">Assinaturas Institucionais</h1>
    </div>
    <div class="level-right">
        {% if pode_criar_assinatura %}
        <a class="button is-primary" href="{% url 'financeiro:assinatura-create' %}">Nova assinatura institucional</a>
        {% endif %}
    </div>
</div>
<form method="get" class="filters-box">
    <div class="columns is-vcentered">
        <div class="column is-10">
            <label class="label">Nome</label>
            <input class="input" type="text" name="nome" value="{{ request.GET.nome }}" placeholder="Buscar por nome">
        </div>
        <div class="column is-2">
            <label class="label">&nbsp;</label>
            <div class="buttons">
                <button class="button is-link is-fullwidth" type="submit">Filtrar</button>
                <a class="button is-light is-fullwidth" href="{% url 'financeiro:assinatura-list' %}">Limpar</a>
            </div>
        </div>
    </div>
</form>
<div class="table-wrapper">
    <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Assinatura</th>
            <th>Nome exibicao</th>
            <th>Cargo</th>
            <th>Ativa</th>
            <th>Padrao</th>
            {% if mostrar_acoes_assinatura %}
                <th>Acoes</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for assinatura in assinaturas %}
            <tr>
                <td>{{ assinatura.nome }}</td>
                <td>{{ assinatura.assinatura_texto }}</td>
                <td>{{ assinatura.nome_exibicao|default:'-' }}</td>
                <td>{{ assinatura.cargo|default:'-' }}</td>
                <td>{% if assinatura.ativo %}Sim{% else %}Nao{% endif %}</td>
                <td>{% if assinatura.padrao %}Sim{% else %}Nao{% endif %}</td>
                {% if mostrar_acoes_assinatura %}
                    <td class="actions-cell">
                        {% if pode_editar_assinatura %}
                            <a class="button is-small is-link is-light" href="{% url 'financeiro:assinatura-update' assinatura.pk %}">Editar</a>
                        {% endif %}
                        {% if pode_excluir_assinatura %}
                            <a class="button is-small is-danger is-light" href="{% url 'financeiro:assinatura-delete' assinatura.pk %}">Excluir</a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% empty %}
            <tr>
                <td colspan="{% if mostrar_acoes_assinatura %}7{% else %}6{% endif %}">Nenhuma assinatura institucional cadastrada.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
