{% extends 'financeiro/base.html' %}
{% block title %}Centros de Custo{% endblock %}
{% block content %}
<div class="level">
    <div class="level-left">
        <h1 class="title">Centros de Custo</h1>
    </div>
    <div class="level-right">
        <a class="button is-primary" href="{% url 'financeiro:centro-custo-create' %}">Novo centro de custo</a>
    </div>
</div>
<div class="table-wrapper">
    <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Ativo</th>
        </tr>
        </thead>
        <tbody>
        {% for centro in centros_custo %}
            <tr>
                <td>{{ centro.codigo }}</td>
                <td>{{ centro.nome }}</td>
                <td>{% if centro.ativo %}Sim{% else %}Não{% endif %}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Nenhum centro de custo cadastrado.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
