{% extends 'financeiro/base.html' %}
{% block title %}Centros de Custo{% endblock %}
{% block content %}
<div class="level">
    <div class="level-left">
        <h1 class="title">Centros de Custo</h1>
    </div>
    <div class="level-right">
        <a class="button is-primary" href="{% url 'financeiro:centro-custo-create' %}">Novo centro de custo</a>
    </div>
</div>
<form method="get" class="filters-box">
    <div class="columns is-multiline">
        <div class="column is-5">
            <label class="label">Código</label>
            <input class="input" type="text" name="codigo" value="{{ request.GET.codigo }}" placeholder="Buscar por código">
        </div>
        <div class="column is-5">
            <label class="label">Nome</label>
            <input class="input" type="text" name="nome" value="{{ request.GET.nome }}" placeholder="Buscar por nome">
        </div>
        <div class="column is-2">
            <label class="label">&nbsp;</label>
            <div class="buttons">
                <button class="button is-link is-fullwidth" type="submit">Filtrar</button>
                <a class="button is-light is-fullwidth" href="{% url 'financeiro:centro-custo-list' %}">Limpar</a>
            </div>
        </div>
    </div>
</form>
<div class="table-wrapper">
    <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Ativo</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        {% for centro in centros_custo %}
            <tr>
                <td>{{ centro.codigo }}</td>
                <td>{{ centro.nome }}</td>
                <td>{% if centro.ativo %}Sim{% else %}Não{% endif %}</td>
                <td class="actions-cell">
                    <a class="button is-small is-link is-light" href="{% url 'financeiro:centro-custo-update' centro.pk %}">Editar</a>
                    <a class="button is-small is-danger is-light" href="{% url 'financeiro:centro-custo-delete' centro.pk %}">Excluir</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">Nenhum centro de custo cadastrado.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
