{% extends 'financeiro/base.html' %}
{% block title %}Financeiro{% endblock %}
{% block content %}
<div class="financeiro-hero">
    <h1 class="title">Módulo Financeiro</h1>
    <p class="subtitle">Base operacional do módulo usando a modelagem já existente.</p>
    <div class="buttons">
        <a class="button is-light" href="{% url 'financeiro:extrato-list' %}">Extratos</a>
        <a class="button is-dark" href="{% url 'financeiro:conta-list' %}">Contas</a>
        <a class="button is-warning" href="{% url 'financeiro:centro-custo-list' %}">Centros de Custo</a>
        <a class="button is-primary" href="{% url 'financeiro:pessoa-list' %}">Pessoas</a>
        <a class="button is-link" href="{% url 'financeiro:categoria-list' %}">Categorias</a>
        <a class="button is-info" href="{% url 'financeiro:lancamento-list' %}">Lançamentos</a>
    </div>
</div>
{% endblock %}
