{% extends 'biblioteca/base.html' %}
{% load permissoes_sistema %}
{% block title %}Autores{% endblock %}
{% block content %}
<div class="level">
    <div class="level-left">
        <h1 class="title">Autores</h1>
    </div>
    <div class="level-right">
        {% tem_permissao request.user 'biblioteca.autores.criar' as pode_criar_autor %}
        {% if pode_criar_autor %}
            <a class="button is-primary" href="{% url 'biblioteca:autor-create' %}">Novo autor</a>
        {% endif %}
    </div>
</div>
<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Biografia</th>
    </tr>
    </thead>
    <tbody>
    {% for autor in autores %}
        <tr>
            <td>{{ autor.nome }}</td>
            <td>{{ autor.biografia|default:'-' }}</td>
        </tr>
    {% empty %}
        <tr><td colspan="2">Nenhum autor cadastrado.</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
