{% extends 'biblioteca/base.html' %}
{% load permissoes_sistema %}
{% block title %}Empr&eacute;stimos{% endblock %}
{% block content %}
<div class="level">
    <div class="level-left">
        <h1 class="title">Empr&eacute;stimos</h1>
    </div>
    <div class="level-right">
        {% tem_permissao request.user 'biblioteca.emprestimos.criar' as pode_criar_emprestimo %}
        {% if pode_criar_emprestimo %}
            <a class="button is-primary" href="{% url 'biblioteca:emprestimo-create' %}">Registrar empr&eacute;stimo</a>
        {% endif %}
    </div>
</div>
<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Livro</th>
        <th>Leitor</th>
        <th>Quantidade</th>
        <th>Data empr&eacute;stimo</th>
        <th>Prevista devolu&ccedil;&atilde;o</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {% for emprestimo in emprestimos %}
        <tr>
            <td>{{ emprestimo.livro }}</td>
            <td>{{ emprestimo.leitor }}</td>
            <td>{{ emprestimo.quantidade }}</td>
            <td>{{ emprestimo.data_emprestimo }}</td>
            <td>{{ emprestimo.data_prevista_devolucao }}</td>
            <td>{{ emprestimo.get_status_display }}</td>
        </tr>
    {% empty %}
        <tr><td colspan="6">Nenhum empr&eacute;stimo registrado.</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
