{% extends 'biblioteca/base.html' %}
{% load permissoes_sistema %}
{% block title %}Livros{% endblock %}
{% block content %}
<div class="level">
    <div class="level-left">
        <h1 class="title">Livros</h1>
    </div>
    <div class="level-right">
        {% tem_permissao request.user 'biblioteca.livros.criar' as pode_criar_livro %}
        {% if pode_criar_livro %}
            <a class="button is-primary" href="{% url 'biblioteca:livro-create' %}">Novo livro</a>
        {% endif %}
    </div>
</div>
<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>T&iacute;tulo</th>
        <th>Autores</th>
        <th>Pre&ccedil;o</th>
        <th>Estoque</th>
    </tr>
    </thead>
    <tbody>
    {% for livro in livros %}
        <tr>
            <td>{{ livro.titulo }}</td>
            <td>{{ livro.autores.all|join:', ' }}</td>
            <td>R$ {{ livro.preco }}</td>
            <td>{{ livro.estoque_disponivel }}/{{ livro.estoque_total }}</td>
        </tr>
    {% empty %}
        <tr><td colspan="4">Nenhum livro cadastrado.</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
